<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>页面编写</title>
    <link rel="stylesheet" href="css/main.css">
</head>
<body>
<!--根据设计稿，制作静态页面-->
    <div class="header">
        <div class="header_con">
            <div class="logo">Logo</div>
            <ul class="link">
                <li><a href="#">Github</a></li>
                <li><a href="#">Register</a></li>
                <li><a href="#">Login</a></li>
            </ul>
        </div>
    </div>
    <div class="banner">
        <div class="banner_box">
             <ul class="banner_btn">
                <li><span>1</span></li>
                <li class="btn_anctive"><span>2</span></li>
                <li><span>3</span></li>
                <li><span>4</span></li>
            </ul>
        </div>
    </div>
    <div class="main">
        <div class="list_box">
            <ul class="list">
                <li class="list_active"><a href="#">HOME</a></li>
                <li><a href="#">PROFILE</a></li>
                <li><a href="#">ABOUT</a></li>
            </ul>
        </div>
        <div class="main_content">
            <div class="first_Grid">
                <div class="Grid_cell">this is content 1</div>
                <div class="Grid_cell">MaybeContent 2</div>
                <div class="Grid_cell">content 3</div>
            </div>
            <div class="second_Grid">
                <div class="Grid_cell">content4</div>
                <div class="Grid_cell">content5</div>
                <div class="Grid_cell">content6</div>
                <div class="Grid_cell">content7</div>
            </div>
            <div class="third_Grid">
                <div class="Grid_cell">content 8</div>
                <div class="Grid_cell">content 9</div>
                <div class="Grid_cell">content 10</div>
            </div>
        </div>
    </div>
<div class="footer">
    <div class="footer_con">
        © 2018 ife.baidu.com
    </div>
</div>
</body>
</html>